$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$table-height: $header-height + $toolbar-height + $formula-height;
$row-height: 24px;
$border-color: #c0c0c0;
$info-cell-width: 40px;
$cell-width: 120px;
$cell-background: #f8f9fa;